
/data/preprocessed/*.csv
data/preprocessed/*.csv
econbase/

data/BOE/
data/ECB/
data/FED/
data/JPN/

BOE/Bailey/
BOE/Carney/
BOE/King/

ECB/Dragui/
ECB/Lagarde/
ECB/Trichet/

FED/Bernanke/
FED/Powell
FED/Yellen

JPN/Fukui/
JPN/Kuroda/
JPN/Shirakawa/
/DRAFT/GRAPHS/
